@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

html,
body {
    height: 100%;
}

body {
    background-color: #fff;
}

.body-content{
    padding-top: 150px;
    padding-bottom: 150px; /* height of the footer*/
}

#App {
    position: relative;
    min-height: 100%;
}

/****  TYPOGRAPHY ****/

h2{
    font-size: 34px;
    font-weight: 800;
    padding: 20px 0px;
}

h4{
    font-size: 18px;
}

/****  NAVBAR ****/

nav {
    border-bottom: 1px solid #eee;
    background: #fff;
    /* z-index: 999 !important; */

    border: 1px solid #CCCBCB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand span {
    padding: 0px !important;
    margin-right: 30px;
    color: rgb(48, 20, 20);

}

#navbar-links {
    margin-top: 15px;
}

#navbar-links li.nav-item {
    padding: 0px 15px;
}

#navbar-links li.nav-item a:hover {
    color: #2c8cd6;
}

.nav-link{
    color:#000;
    font-size: 18px;
}

/* #navbar-links li.nav-item a.last-nav-link {
    padding-left: 10px;
    padding-right: 0px;
} */


#navbar-links a.nav-link {
    padding: 10px 0px;
}

/*** FORMS ***/

.form-group {
    margin-bottom: 28px;
}

.form-control,
.custom-select,
.custom-file-label {
    height: 61px;
    width: 385px;
    border-radius: 5px;

    background: #E9E9E9;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 20px;
}

.form-div input{
    margin: 0px auto;
}

.form-msg{
    text-align: center;
}

.form-msg span{
    padding-right: 110px;
}


/*** SIGN IN ***/

.auth-form-heading{
    text-align: center;
}

.signin-btn{
    height: 54px;
    width: 385px;
    border-radius: 5px;    
    background: #5596E6;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 5px;
    color: #FFFFFF;
    margin: 0px auto;
}

.form-bttn{
    text-align: center;
}

/*** REGISTER ***/

.register-btn{
    height: 54px;
    width: 385px;
    border-radius: 5px;
    background: #5596E6;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 5px;
    color: #FFFFFF;
    margin: 0px auto;
}

.logo-site{
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

.logo-site-footer {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 50px;
}


.logo-site-footer a{
    color: white;

}

/*** FOOTER **/

.footer-bar{
    position: absolute;
    width: 100%;
    height: 250px;
    background: #7E7E7E;
    /* margin-top: 100px !important; */
}

.footer-brand {
    /* padding: 0px !important; */
    padding-top: 50px;
    margin-right: 30px;
    
}

.footer-list-group{
    font-size: 14px;
    list-style-type: none;
    line-height: normal;
}

.footer-list-group-item {
    text-decoration: none;
    margin-bottom: 5px;
}

.footer-heading{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*** FORUM PAGE ****/
.forum{
    width: 100%;
    height: 100%;

    background: #FFFFFF;
    border: 1px solid #B8B2B2;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    margin-bottom: 20px;
}

.forum-list{
    padding: 0px;
}

.forum-title{
    padding: 10px 0px;
}

.forum-title a{
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.forum-title a:hover{
    text-decoration: none;
}

.forum-desc{
    font-size: 14px;
    color: black;
    padding-top: 15px;
    padding-bottom: 20px;
}


.forum-bttn{
    height: 54px;
    width: 100%;
    border-radius: 5px;
    background: #3d70b2;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0px auto;

    font-size: 18px;
    color: #FFFFFF;
    font-weight: 800;
}



/*** FORUM-POST ***/
.forum-detail{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #B8B2B2;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    margin-bottom: 20px;
    padding: 20px 20px;
    background-color: aliceblue;
} 

.title{
    font-size: 18px;
    font-weight: 700;
    color:black;
}


.posts-rows{
    padding:0px;
}

.post{
    width: 100%;
    height: 100%;

    background: #FFFFFF;
    border: 1px solid #B8B2B2;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    margin-bottom: 20px;
    padding: 20px 20px;
}

.post-title a{
    font-size: 18px;
    font-weight: 700;
    color:black;
}

.post-title a:hover{
    text-decoration: none;
}

.post-body{
    font-size: 14px;
    margin: 20px 0px;
}

/** POST PAGE **/
.post-detail{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #B8B2B2;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    margin-bottom: 20px;
    padding: 20px 20px;
}
.post-detail span{
    padding-left: 20px;
}

.post-detail h4 {
    font-size: 18px;
    font-weight: 700;
    color:black;
    padding-top: 20px;
}

.post-detail p{
    font-size: 14px;
    margin: 20px 0px;
}

.post-detail img{
    width: 50px;
    height: 50px;
}

.hide-post{
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);    
    background-color: #ccc;
}


.warning-div{
    position: absolute;
    top: 230px;
    left: 230px;
}

.warning-text{
    color: black; 
    padding: auto;
    text-align: center;
}

.removeWarning{
    display: none;
}
/** COMMENT **/

.comment-box{
    border: #B8B2B2 1px solid;
    border-radius: 2px;
    width: 100%;
}

.comment-select-button{
    width: 200px;
    height: 35px;
    border: solid 1px #B8B2B2;
    border-radius: 3px;
}

.add-comment-bttn{
    height: 30px;
    width: 80px;
    border-radius: 5px;
    background: #5596E6;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0px auto;

    font-size: 16px;
    color: #FFFFFF;
    font-weight: 800;

    float: right;
}

.add-comment-div{
    margin-bottom: 50px;
}

.each-comment{
    border-bottom: 1px solid #888888;
    padding-bottom: 40px;
    padding-top: 20px;
}

/** CREATE FORUM **/
.form-control-forum{
    height: 30px;
    width: 100%;
    border-radius: 5px;

    background: #E9E9E9;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 5px;
    padding:20px;
}

.form-control-forum-body{
    width: 100%;
    border-radius: 5px;

    background: #E9E9E9;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
}

.forum-topic{
    padding: 20px;
    margin-bottom: 40px;
}

.submit-button{
    height: 30px;
    width: 80px;
    border-radius: 5px;
    background: #5596E6;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0px auto;

    font-size: 16px;
    color: #FFFFFF;
    font-weight: 800;

    float: right;
}

/** FILTER ***/
.filter-bar {
    margin-top: 100px;
    background-color: #5596e6;
    height: 80px;
    margin-bottom: 50px;
}

.sort-list{
    list-style-type: none;
    overflow: hidden;
    margin-top: 10px;
    padding: 0;

    display: inline-block;
    vertical-align: middle;
    
}

.sort-list li {
   float: left;
}

.sort-list-a{
    display: block;
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 16px;
    text-decoration: none;

}

.sort-list li a:hover{
    color: black;
    text-decoration: none;
}
.sort-list li a:active{
    color: black;
}

.forum-list-div,
.forum-post-div
{
    margin-top: 60px;
}

.profile-div{
    border-bottom: 2px solid  #888888;
    margin-bottom: 20px;
    padding-bottom: 30px;
}


.approval-list {
    padding: 50px;
}


/*** DASHBOARD ****/

.sidebar{
    background-color: #DDDBDB;
    padding: 20px 40px;
    height: 100vh;
}

.dashboard{
    display:flex; 
    flex-direction:row;
}

.dash{
    background-color: #F3F5F5;
    height: 100vh;
}

.sidebar-links ul{
    padding: 20px 0px;
}
.sidebar-links ul li {
    /* padding-left: 20px; */
    padding-bottom: 10px;
    text-decoration: none;
    list-style-type: none;
}

.side-link a{
    font-size: 14px;
    color: #514E4E;
    font-weight: 700;
}
.side-link a:hover {
    color: #2c8cd6;
    text-decoration: none;
}

.side-link a:active {
    color: #2c8cd6;
    text-decoration: none;
}

.sidebar-p{
    font-size: 16px;
    margin-bottom: 0px;
    color: #8C8989;
    font-weight: 700;

}

.topbar{
    height: 80px;
    background-color: #FCFCFC;
}

.topbar-div {
    padding: 30px 30px;
}

.posts-lists{
    /* padding: 50px 20px; */
    padding: 0px;
}

.user-data{
    background-color: #FCFCFC;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.approve-bttn{
    background-color: #5596E6;
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}

.post-heading{
    padding-top: 20px;
    padding-bottom: 20px;
}

.post-heading h4{
    font-weight: 700;
}

.denied-bttn{
    background-color: #df6f6f;
    padding: 10px 20px;
    border-radius: 5px;

}

.setting-div{
    border-top: 1px solid #848484;
    border-bottom: 1px solid #848484;
    padding: 20px 0px;
}

.review-div{
    padding: 20px 0px;
}

.icon{
    margin-bottom: 4px;
    margin-right: 5px;
    margin-left: 10px;
}

svg {
    display: inline;
}

.review-button{
    background-color: #b7c7fd;
    padding: 5px 10px;
    border-radius: 5px;
}

.review-button a{
    color: white;
}

.review-button a:hover{
    text-decoration: none;
    color: white;
}

/***PAGINATION***/
.pagination {
    position: fixed;
    bottom: 0;
    left: 20%;
    /* right: 50%; */
    /* justify-content: center; */
}