@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

html,
body {
    height: 100%;
}

body {
    background-color: #fff;
}




/****  NAVBAR ****/

nav {
    border-bottom: 1px solid #eee;
    background: #fff;
    z-index: 999 !important;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand {
    padding: 0px !important;
    margin-right: 30px;
}

#navbar-links {
    margin-top: 15px;
}

#navbar-links li.nav-item {
    padding: 0px 15px;
}

#navbar-links li.nav-item a:hover {
    color: #2c8cd6;
}

/* #navbar-links li.nav-item a.last-nav-link {
    padding-left: 10px;
    padding-right: 0px;
} */


#navbar-links a.nav-link {
    padding: 10px 0px;
}

.form-group {
    margin-bottom: 28px;
}

.form-control,
.custom-select,
.custom-file-label {
    /* height: 45px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    border-radius: 0px;
    border: 1px solid #eee;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
    background-color: transparent; */
    height: 61px;
    width: 385px;
    /* left: 0px; */
    /* top: 79px; */
    border-radius: 5px;

    background: #E9E9E9;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 40px;
}

.form-div input{
    margin: 0px auto;
}

.form-msg{
    text-align: center;
}

.form-msg span{
    padding-right: 110px;
}


.signin-btn{
    height: 54px;
    width: 385px;
    border-radius: 5px;    
    background: #5596E6;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 5px;
    color: #FFFFFF;
    margin: 0px auto;
}

.form-bttn{
    text-align: center;
}

.register-btn{
    height: 54px;
    width: 385px;
    border-radius: 5px;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0px;
    bottom: 0%;

    background: #5596E6;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 5px;
    color: #FFFFFF;
}

.logo-site{
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    
}

.logo-site-footer {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 50px;
}


.logo-site-footer a{
    color: white;

}

.footer-bar{
    height: 250px;
    background: #7E7E7E;
    /* margin-top: 100px !important; */
}

.footer-brand {
    /* padding: 0px !important; */
    padding-top: 50px;
    margin-right: 30px;
    
}

.footer-list-group{
    font-size: 14px;
    list-style-type: none;
    line-height: normal;
}

.footer-list-group-item {
    text-decoration: none;
    margin-bottom: 5px;
}

.footer-heading{
    margin-top: 20px;
    margin-bottom: 20px;
}


.comment-box{
    border: #000 1px solid;
    border-radius: 2px;
    width: 500px;
}

.comment-select-button{
    width: 120px;
    height: 35px;
    border: solid 1px black;
    border-radius: 3px;
}



